@using Mudul.Models
@model UserEditViewModel
@{
    ViewData["Title"] = "Editar Perfil";
    Layout = "~/Views/Shared/_LayoutCoordinator.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Editar Perfil</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Coordinator")">
                            Coordinator
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>
                            Profile
                        </a>
                    </li>
                </ol>
            </div>
        </div>

    </div>
</div>

<partial name="User/Profile" model="Model" />

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                            Swal.fire({
                                toast: true,
                                position: "top-end",
                                title: "¡Éxito!",
                                text: decodeURIComponent("@Uri.EscapeDataString(TempData["SuccessMessage"].ToString())"),
                                icon: "success",
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true
                            });
            </text>
        }
        });
    </script>
}