*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
	width: 100%;
	z-index: -1;
	opacity: 0;
	animation: fadeIn 1.2s ease-in-out forwards;
}

.container{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	opacity: 0;
	animation: fadeIn 1s ease-in-out 0.3s forwards;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	opacity: 0;
	animation: fadeInUp 1s ease-in-out 0.6s forwards;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img.avatar {
	height: 80px;
	width: 80px;
	object-fit: contain;
	display: block;
	margin: 0 auto 10px;
	opacity: 0;
	animation: fadeInUp 0.8s ease-in-out 0.4s forwards;
}

.login-content h2 {
	margin: 0 0 5px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
	opacity: 0;
	animation: fadeInUp 0.8s ease-in-out 0.5s forwards;
}

.login-content h4 {
	margin: 0 0 20px 0;
	color: #666;
	font-size: 1rem;
	opacity: 0;
	animation: fadeInUp 0.8s ease-in-out 0.6s forwards;
}

.login-content .input-div{
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
	opacity: 0;
	animation: fadeInUp 0.8s ease-in-out forwards;
}

.login-content .input-div.one{
	margin-top: 0;
	animation-delay: 0.7s;
}

.i{
	color: #2e296a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.login-content .input-div > div{
	position: relative;
	height: 45px;
}

.login-content .input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.login-content .input-div:before, .login-content .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #2e296a;
	transition: .4s;
}

.login-content .input-div:before{
	right: 50%;
}

.login-content .input-div:after{
	left: 50%;
}

.login-content .input-div.focus:before, .login-content .input-div.focus:after{
	width: 50%;
}

.login-content .input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.login-content .input-div.focus > .i > i{
	color: #2e296a;
}

.login-content .input-div > div > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
	transition: all 0.3s ease-in-out;
}

.login-content .input-div > div > input::placeholder {
	color: transparent;
	transition: all 0.3s ease-in-out;
}

.login-content .input-div.focus > div > input::placeholder {
	color: #999;
}

.login-content .input-div.pass{
	margin-bottom: 4px;
	animation-delay: 0.8s;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
	opacity: 0;
	animation: fadeInUp 0.8s ease-in-out 0.9s forwards;
}

a:hover{
	color: #2e296a;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #2e296a, #4b4494, #2e296a);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	opacity: 0;
	animation: fadeInUp 0.8s ease-in-out 1s forwards;
}

.checkbox {
	animation: fadeInUp 1.2s ease-in-out forwards;
}

.btn:hover{
	background-position: right;
}

.error-message-container {
	min-height: 20px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

	.error-message-container .text-danger {
		font-size: 1rem;
		text-align: center;
		color: #ff3333;
		margin-bottom: 2rem;
	}

.login-content.has-error h2,
.login-content.has-error h4 {
	transform: translateY(-10px);
	transition: transform 0.3s ease-in-out;
}

[role="alert"] ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

	[role="alert"] ul li::before {
		content: "\f071"; /* Código Unicode del icono de advertencia */
		font-family: "Font Awesome 5 Free"; /* Asegúrate de tener FontAwesome */
		font-weight: 900;
		color: red;
		margin-right: 8px; /* Espacio entre el ícono y el texto */
	}



@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0 5px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr;
	}

	.img {
		display: none;
	}

	.wave {
		display: none;
	}

	.login-content {
		justify-content: center;
	}

	.img img {
		width: 300px;
	}
}

@media screen and (max-width: 670px) {
	form {
		width: 200px;
	}

	.login-content h2 {
		font-size: 1.4rem;
		margin: 0 0 5px 0;
	}

	.login-content .input-div > div > h5 {
		font-size: 14px;
	}

	.login-content .input-div > div > input {
		font-size: 14px;
	}

	.login-content .input-div.pass {
		margin-bottom: 10px;
	}

	.login-content .input-div:before, .login-content .input-div:after {
		bottom: -1.5px;
	}

	.btn {
		height: 40px;
		font-size: 1rem;
	}

	.login-content .input-div:before, .login-content .input-div:after {
		bottom: -1.5px;
	}

	.login-content .input-div > div > h5 {
		font-size: 12px;
	}

	.login-content .input-div > div > input {
		font-size: 12px;
	}

	.login-content .input-div.pass {
		margin-bottom: 10px;
	}

	.container {
		padding: 2rem;
	}
}