<div class="modal fade" id="myCoursesModal" tabindex="-1" aria-labelledby="myCoursesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myCoursesModalLabel">Mis Cursos Actuales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre del Curso</th>
                            <th>Descripción</th>
                            <th>Fecha de Inicio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Curso de Matemáticas</td>
                            <td>Introducción a las matemáticas avanzadas</td>
                            <td>01/09/2025</td>
                        </tr>
                        <tr>
                            <td>Curso de Programación</td>
                            <td>Fundamentos de C# y .NET</td>
                            <td>15/09/2025</td>
                        </tr>
                        <!-- Agrega más filas de ejemplo según necesites -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
